<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="org.everit.json">
  <properties>
    <property name="jboss.api" value="private" />
  </properties>
  <resources>
    <artifact name="${org.json:json}" />
  </resources>
  <dependencies>
    <module name="com.damnhandy" />
    <module name="org.apache.commons.collections" />
  </dependencies>
</module>
